:root {
    --bol-dark: #000000;
    --bol-secondary: #20A9E5;
    --bol-primary: #4EA0FF;
    --bol-gray: #808080;
    --bol-primary-lite: #B1E5F2;
    --bol-white: #FFFFFF;
}

header {
    background-color: var(--bol-primary);
    background-image: url(../img/pattern.png);
    background-size: 18%;
}

#logo {
    height: 50px;
    margin: 1.5rem 0.5rem 0;
}

#gray_word {
    color: gray;
    font-size: medium;
}

#blue_word {
    color: #4ea0ff;
    font-size: medium;
}

#date {
    color: gray;
}

#photo {
    font-size: small;
}

#highlight_word {
    background-color: yellow;
}

table {
    border-collapse: collapse;
}


h4 {
    color: gray;
}
