header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 8%;
}

#logo {
    width: 200px;
}

#gray_word {
    color: gray;
    font-size: medium;
}

#blue_word {
    color: #4ea0ff;
    font-size: medium;
}

#date {
    color: gray;
}

#photo {
    font-size: small;
}

#highlight_word {
    background-color: yellow;
}